.Grid {
    display: flex;
    flex-wrap: wrap;
}
.demo-block {
    &__title {}
    &__row {
        @include flex;
        padding: 20px;
        >* {
            margin: 0 20px 20px 0;
        }
    }
}
.palette {
    width: 150px;
    text-align: center;
    padding: 15px;
    line-height: 1.5;
}
.palette-text {
    width: 200px;
}
.typography-block {
    justify-content: space-evenly;
}

.ss-C-0 { background: $white; }
.ss-C-1 { background: $block-linc; }
.ss-C-2 { background: $linc-nav; }
.ss-C-3 { background: $linc-option-nav; }
.ss-C-4 { background: $text-input-search; }
.ss-C-5 { background: $text-select-search; color: #fff;}
.ss-C-6 { background: $text-color; color: #fff;}
.ss-C-7 { background: $phone-color; color: #fff; }
.ss-C-8 { background: $copyrith; }
.ss-C-9 { background: $text-label; }
.ss-C-10 { background: $text-comment }
.ss-C-11 { background: $text-in-stock }
.ss-C-12 { background: $text-placholder }
.ss-C-13 { background: $text-breadcrumb; color: #fff;}
.ss-C-14 { background: $text-seo;}
.ss-C-15 { background: $text-tabs;}
