@charset "UTF-8";

body {
  font-family: "Roboto", sans-serif;
  color: #3b3b3b;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px 0;
}

.ss-bg-orange {
  background: #ff8900;
}

.ss-bg-grey {
  background: #696969;
}

.ss-bg-dark-orange {
  background: #db7200;
}

.ss-bg-grey-bl {
  background: #606a76;
}

.ss-bg-grey-lt {
  background: #f5f5f5;
}

.ss-roboto-36 {
  font-size: 36px;
}

.ss-roboto-26-up {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.ss-roboto-26-i {
  font-size: 26px;
  font-weight: 900;
  font-style: italic;
}

.ss-roboto-20-b {
  font-size: 20px;
  font-weight: 700;
}

.ss-roboto-18-b {
  font-size: 18px;
  font-weight: 700;
}

.ss-roboto-17 {
  font-size: 17px;
}

.ss-roboto-16-b-up {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.ss-roboto-16-b-i {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.ss-roboto-16-bl-i {
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
}

.ss-roboto-14 {
  font-size: 14px;
  color: #9c9c9c;
}

.ss-roboto-14-b-up {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.ss-roboto-13 {
  font-size: 13px;
}

.ss-roboto-12 {
  font-size: 12px;
}

.ss-roboto-10 {
  font-size: 10px;
}

.ss-roboto-10-b-up {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.ss-proxN-36-b {
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 36px;
}

.ss-proxN-30-b {
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 30px;
}

.ss-proxN-20-b {
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 20px;
}

.ss-proxN-17 {
  font-family: ProximaNova;
  font-size: 17px;
}

.ss-proxN-14 {
  font-family: ProximaNova;
  font-size: 14px;
}

.ss-eur-26-b-i {
  font-family: Europe;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}

.ss-eur-20-b-i {
  font-family: Europe;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.ss-grid {
  display: flex;
  flex-wrap: wrap;
}

.ss-line-h-s {
  line-height: 40px;
}

.ss-line-h-m {
  line-height: 50px;
}

.ss-line-h-l {
  line-height: 55px;
}

.ss-line-h-xl {
  line-height: 70px;
}

.ss-marg-t {
  margin-top: 20px;
}

.ss-marg-b {
  margin-bottom: 20px;
}

.ss-marg-l {
  margin-left: 20px;
}

.ss-marg-r {
  margin-right: 20px;
}

.ss-marg-small-t {
  margin-top: 10px;
}

.ss-marg-small-b {
  margin-bottom: 10px;
}

.ss-marg-small-l {
  margin-left: 10px;
}

.ss-marg-small-r {
  margin-right: 10px;
}

.ss-marg-med-t {
  margin-top: 40px;
}

.ss-marg-med-b {
  margin-bottom: 40px;
}

.ss-marg-med-l {
  margin-left: 40px;
}

.ss-marg-med-r {
  margin-right: 40px;
}

.ss-marg-large-t {
  margin-top: 60px;
}

.ss-marg-large-b {
  margin-bottom: 60px;
}

.ss-marg-large-l {
  margin-left: 60px;
}

.ss-marg-large-r {
  margin-right: 60px;
}

.ss-marg-xlar-t {
  margin-top: 60px;
}

.ss-marg-xlar-b {
  margin-bottom: 60px;
}

.ss-marg-xlar-l {
  margin-left: 60px;
}

.ss-marg-xlar-r {
  margin-right: 60px;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 0 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.btn-default {
  background: #ff8900;
}

.btn-success {
  background: #38c172;
}

.btn-error {
  background: #ff4800;
}

.btn-warning {
  background: #ffc925;
}

.btn-info {
  background: #ee82ee;
}

.btn-option {
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
}

.btn-filter {
  background: #afb9c6;
}

.btn-option:hover {
  background: linear-gradient(90deg, #d36e00 0%, #e59100 100%);
}

.btn--search {
  padding: 0 55px;
  line-height: 55px;
}

.btn--cart {
  font-size: 14px;
  padding: 0 35px 0 68px;
}

.btn--cart:before {
  content: url("/images/service-img/carriage.png");
  position: absolute;
  top: 5px;
  left: 25px;
}

.btn--log {
  padding: 0 35px 0 60px;
  font-size: 12px;
  font-weight: normal;
}

.btn--log:before {
  content: url("/images/service-img/user.png");
  position: absolute;
  top: 3px;
  left: 30px;
}

.btn--call {
  padding: 0 35px 0 50px;
  font-size: 12px;
  font-weight: normal;
}

.btn--call:before {
  content: url("/images/service-img/phone.png");
  position: absolute;
  top: 5px;
  left: 32px;
}

.btn-filter {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  padding: 0 45px 0 60px;
}

.btn-filter.filter--red {
  background: #ff4800;
}

.btn-filter:before {
  content: url("/images/service-img/cross-small.png");
  position: absolute;
  top: 3px;
  left: 36px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  position: relative;
  color: inherit;
  display: inline-block;
}

.nav-header {
  text-transform: uppercase;
  font-size: 12px;
  color: #c3c3c3;
}

.nav-header li:last-child {
  margin: 0;
}

.nav-header a:hover {
  color: #ffffff;
}

.nav-header a:hover:before {
  content: "";
  position: absolute;
  top: 96%;
  left: -8px;
  width: 122%;
  height: 2px;
  background: #ffc925;
}

.option-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option-menu__link {
  position: relative;
  display: flex;
  align-items: center;
  color: #abafb5;
  font-weight: 700;
  font-size: 18px;
}

.option-menu__img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.option-menu__img.img--car {
  background: url("/images/service-img/sprite/img-1a.png") right center no-repeat;
}

.option-menu__img.img--track {
  background: url("/images/service-img/sprite/img-2a.png") right center no-repeat;
}

.option-menu__img.img--tyre {
  background: url("/images/service-img/sprite/img-3a.png") right center no-repeat;
}

.option-menu__img.img--flask {
  background: url("/images/service-img/sprite/img-4a.png") right center no-repeat;
}

.option-menu__img.img--battery {
  background: url("/images/service-img/sprite/img-5a.png") right center no-repeat;
}

.option-menu__link:hover:before {
  content: "";
  position: absolute;
  top: 98%;
  left: 10px;
  width: 107%;
  height: 2px;
  background: #ffc925;
}

.option-menu__link:hover .option-menu__text {
  color: #ffffff;
}

.option-menu__link:hover .img--car {
  background: url("/images/service-img/sprite/img-1b.png") right center no-repeat;
}

.option-menu__link:hover .img--track {
  background: url("/images/service-img/sprite/img-2b.png") right center no-repeat;
}

.option-menu__link:hover .img--tyre {
  background: url("/images/service-img/sprite/img-3b.png") right center no-repeat;
}

.option-menu__link:hover .img--flask {
  background: url("/images/service-img/sprite/img-4b.png") right center no-repeat;
}

.option-menu__link:hover .img--battery {
  background: url("/images/service-img/sprite/img-5b.png") right center no-repeat;
}

.select-style {
  position: relative;
  height: 41px;
  border-bottom: 1px solid #ffffff;
  overflow: hidden;
  cursor: pointer;
  /* &:after {
       content: '';
       position: absolute;
       top: 16px;
       right: 4px;
       height: 10px;
       width: 10px;
       background: $white;
   }*/
}

.select-style:before {
  content: url("/images/service-img/arrow-bottom.png");
  position: absolute;
  top: 23%;
  left: 86%;
}

.select-style:hover {
  border-color: #ff8900;
}

.select-style .option-select {
  cursor: pointer;
  width: 220px;
  height: 40px;
  border: none;
  background: #ffffff;
  padding: 0 35px 0 10px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  /* для IE */
  display: none;
}

.socials__item {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #9197a3;
}

.socials__item.item--vk {
  background: url("/images/socials/vk-1.png") center center no-repeat;
}

.socials__item.item--fb {
  background: url("/images/socials/fb-1.png") center center no-repeat;
}

.socials__item.item--twit {
  background: url("/images/socials/twit-1.png") center center no-repeat;
}

.socials__item.item--ytube {
  background: url("/images/socials/yt-1.png") center center no-repeat;
}

.socials__item:hover {
  border-color: #ffc925;
}

.socials__item:hover.item--vk {
  background: url("/images/socials/vk-2.png") center center no-repeat;
}

.socials__item:hover.item--fb {
  background: url("/images/socials/fb-2.png") center center no-repeat;
}

.socials__item:hover.item--twit {
  background: url("/images/socials/twit-2.png") center center no-repeat;
}

.socials__item:hover.item--ytube {
  background: url("/images/socials/yt-2.png") center center no-repeat;
}

.demo-block__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.demo-block__row > div,
.demo-block__row > a,
.demo-block__row > img,
.demo-block__row > ul {
  margin: 0 20px 20px 0;
}

.palette {
  width: 120px;
  padding: 15px;
  line-height: 1.5;
}

.typography-block {
  justify-content: space-evenly;
}

