@charset "UTF-8";
/*body {
    font-family: $font-family-sans-serif;
    color: $text-color;
}*/
.wrapper {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px 0;
}

.Bg-orange {
  background: #ff8900;
}

.Bg-grey {
  background: #696969;
}

.Bg-dark-orange {
  background: #db7200;
}

.Bg-grey-bl {
  background: #606a76;
}

.Bg-grey-lt {
  background: #f5f5f5;
}

.Bg-yellow {
  background: #ffc925;
}

.Bg-yellow-lt {
  background: #fffedb;
}

.C-1 {
  color: #cbcbcb;
}

.C-2 {
  color: #c3c3c3;
}

.C-3 {
  color: #abafb5;
}

.C-4 {
  color: #929292;
}

.C-5 {
  color: #616161;
}

.C-6 {
  color: #3b3b3b;
}

.C-7 {
  color: #151515;
}

.R-36 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

.R-26-up {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.R-26-i {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  font-style: italic;
}

.title-lg {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.R20-b {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.R-18-b {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.R-17 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.R-16-b-up {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.R16-bi {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.R16-bli {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
}

.R-14 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.R-14-b-up {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.R-13 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.R-12 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.R-12-up {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.R-10 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.R10-up {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.R10-bup {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.P-36-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.P-30-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.P-20-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.P-17 {
  font-family: "ProximaNova", sans-serif;
  font-size: 17px;
}

.P-14 {
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
}

.E-26-b-i {
  font-family: "Europe", sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}

.E-20-b-i {
  font-family: "Europe", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.333333%;
  }

  .col-sm-2 {
    width: 16.666666%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-8 {
    width: 66.666666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }

  .col-md-2 {
    width: 16.666666%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66.666666%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }

  .col-lg-2 {
    width: 16.666666%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-8 {
    width: 66.666666%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }

  .col-xl-2 {
    width: 16.666666%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.333333%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-8 {
    width: 66.666666%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .col-xxl-1 {
    width: 8.333333%;
  }

  .col-xxl-2 {
    width: 16.666666%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.333333%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-8 {
    width: 66.666666%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-12 {
    width: 100%;
  }
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-9, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-9, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-9, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-6, .col-xl-8, .col-xl-9, .col-xl-12,
.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-6, .col-xxl-8, .col-xxl-9, .col-xxl-12 {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.Lh-s {
  line-height: 40px;
}

.Lh-m {
  line-height: 50px;
}

.Lh-l {
  line-height: 55px;
}

.Lh-xl {
  line-height: 70px;
}

@media (min-width: 768px) {
  .Mx {
    margin-left: 20px;
    margin-right: 20px;
  }

  .My {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Mt {
    margin-top: 20px;
  }

  .Mb {
    margin-bottom: 20px;
  }

  .Ml {
    margin-left: 20px;
  }

  .Mr {
    margin-right: 20px;
  }

  .Mx-s {
    margin-left: 10px;
    margin-right: 10px;
  }

  .My-s {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Mt-s {
    margin-top: 10px;
  }

  .Mb-s {
    margin-bottom: 10px;
  }

  .Ml-s {
    margin-left: 10px;
  }

  .Mr-s {
    margin-right: 10px;
  }

  .Mx-m {
    margin-left: 40px;
    margin-right: 40px;
  }

  .My-m {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .Mt-m {
    margin-top: 40px;
  }

  .Mb-m {
    margin-bottom: 40px;
  }

  .Ml-m {
    margin-left: 40px;
  }

  .Mr-m {
    margin-right: 40px;
  }

  .Mt-l {
    margin-top: 60px;
  }

  .Mb-l {
    margin-bottom: 60px;
  }

  .Ml-l {
    margin-left: 60px;
  }

  .Mr-l {
    margin-right: 60px;
  }

  .Mt-xl {
    margin-top: 60px;
  }

  .Mb-xl {
    margin-bottom: 60px;
  }

  .Ml-xl {
    margin-left: 60px;
  }

  .Mr-xl {
    margin-right: 60px;
  }
}
.Px {
  padding-left: 20px;
  padding-right: 20px;
}

.Py {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Pt {
  padding-top: 20px;
}

.Pb {
  padding-bottom: 20px;
}

.Pl {
  padding-left: 20px;
}

.Pr {
  padding-right: 20px;
}

.Px-s {
  padding-left: 10px;
  padding-right: 10px;
}

.Py-s {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Pt-s {
  padding-top: 10px;
}

.Pb-s {
  padding-bottom: 10px;
}

.Pl-s {
  padding-left: 10px;
}

.Pr-s {
  padding-right: 10px;
}

.Px-m {
  padding-left: 30px;
  padding-right: 30px;
}

.Py-m {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Pt-m {
  padding-top: 30px;
}

.Pb-m {
  padding-bottom: 30px;
}

.Pl-m {
  padding-left: 30px;
}

.Pr-m {
  padding-right: 30px;
}

.Pt-l {
  padding-top: 40px;
}

.Pb-l {
  padding-bottom: 40px;
}

.Pl-l {
  padding-left: 40px;
}

.Pr-l {
  padding-right: 40px;
}

.Pt-xl {
  padding-top: 50px;
}

.Pb-xl {
  padding-bottom: 50px;
}

.Pl-xl {
  padding-left: 50px;
}

.Pr-xl {
  padding-right: 50px;
}

.header-top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.header-bottom__image {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-bottom__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  position: relative;
  display: inline-block;
  color: #ffffff;
  background: #ff8900;
  line-height: 50px;
  padding: 0 40px;
}
.btn-success {
  background: #38c172;
}
.btn-error {
  background: #ff4800;
}
.btn-warning {
  background: #ffc925;
}
.btn-info {
  background: #ee82ee;
}
.btn-message {
  background: #afb9c6;
}
.btn-option {
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
}
.btn-option:hover {
  background: linear-gradient(90deg, #d36e00 0%, #e59100 100%);
}
.btn-filter {
  background: #afb9c6;
  padding: 0 45px 0 60px;
}
.btn-filter.filter--red {
  background: #ff4800;
}
.btn-filter:before {
  content: url("/images/service-img/cross-small.png");
  position: absolute;
  top: 3px;
  left: 36px;
}
.btn-feedback {
  background: #afb9c6;
}
.btn-search {
  padding: 0 55px;
}
.btn-buy {
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
  padding: 0 35px 0 68px;
}
.btn-buy:hover {
  background: linear-gradient(90deg, #d36e00 0%, #e59100 100%);
}
.btn-buy:before {
  content: url("/images/service-img/carriage.png");
  position: absolute;
  top: 5px;
  left: 25px;
}
.btn-login {
  padding: 0 35px 0 60px;
}
.btn-login:before {
  content: url("/images/service-img/user.png");
  position: absolute;
  top: 3px;
  left: 30px;
}
.btn-call {
  padding: 0 35px 0 50px;
  font-size: 12px;
  font-weight: normal;
}
.btn-call:before {
  content: url("/images/service-img/phone.png");
  position: absolute;
  top: 5px;
  left: 32px;
}
.btn-menu {
  width: 100%;
  line-height: 55px;
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
  padding-left: 80px;
}
.btn-menu:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 100%;
  background: url("/images/service-img/burger.png") center center no-repeat #db7200;
}

.nav-header {
  color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.nav-header__link {
  position: relative;
  color: inherit;
  display: inline-block;
  line-height: 50px;
}
.nav-header__link:hover {
  color: #ffffff;
}
.nav-header__link:hover:before {
  content: "";
  position: absolute;
  top: 96%;
  left: -8px;
  width: 122%;
  height: 2px;
  background: #ffc925;
}

.сallback {
  display: flex;
  padding-left: 10px;
}

.counter {
  display: flex;
  align-items: baseline;
}
.counter__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e4e4e4;
}
.counter__item:last-child {
  border: none;
}
.counter__title {
  padding-top: 5px;
}

.option-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.option-menu__link {
  position: relative;
  display: flex;
  align-items: center;
  color: #abafb5;
  font-weight: 700;
  font-size: 18px;
}
.option-menu__img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.option-menu__img.img--car {
  background: url("/images/service-img/sprite/img-1a.png") right center no-repeat;
}
.option-menu__img.img--track {
  background: url("/images/service-img/sprite/img-2a.png") right center no-repeat;
}
.option-menu__img.img--tyre {
  background: url("/images/service-img/sprite/img-3a.png") right center no-repeat;
}
.option-menu__img.img--flask {
  background: url("/images/service-img/sprite/img-4a.png") right center no-repeat;
}
.option-menu__img.img--battery {
  background: url("/images/service-img/sprite/img-5a.png") right center no-repeat;
}
.option-menu__link:hover:before {
  content: "";
  position: absolute;
  top: 98%;
  left: 10px;
  width: 107%;
  height: 2px;
  background: #ffc925;
}
.option-menu__link:hover .option-menu__text {
  color: #ffffff;
}
.option-menu__link:hover .img--car {
  background: url("/images/service-img/sprite/img-1b.png") right center no-repeat;
}
.option-menu__link:hover .img--track {
  background: url("/images/service-img/sprite/img-2b.png") right center no-repeat;
}
.option-menu__link:hover .img--tyre {
  background: url("/images/service-img/sprite/img-3b.png") right center no-repeat;
}
.option-menu__link:hover .img--flask {
  background: url("/images/service-img/sprite/img-4b.png") right center no-repeat;
}
.option-menu__link:hover .img--battery {
  background: url("/images/service-img/sprite/img-5b.png") right center no-repeat;
}

select {
  /*--------------Сброс стрелки-------------*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  /* для IE */
  display: none;
}

.form-search__input {
  border: none;
  outline: none;
  width: 700px;
  height: 55px;
  padding-left: 20px;
  color: #929292;
}
.form-search__decor {
  position: relative;
}
.form-search__decor:before {
  content: url("/images/service-img/arrow-bottom-grey.png");
  position: absolute;
  top: 31%;
  left: 76%;
  cursor: pointer;
}
.form-search__select {
  color: #616161;
  cursor: pointer;
  width: 150px;
  height: 55px;
  border: none;
  outline: none;
  background: #ffffff;
  padding: 0 35px 0 10px;
}

.form-filter__decor {
  position: relative;
  height: 41px;
  border-bottom: 1px solid #ffffff;
}
.form-filter__decor:before {
  content: url("/images/service-img/arrow-bottom.png");
  position: absolute;
  top: 23%;
  left: 86%;
  cursor: pointer;
}
.form-filter__decor:hover {
  border-color: #ff8900;
}
.form-filter__select {
  cursor: pointer;
  width: 220px;
  height: 40px;
  border: none;
  outline: none;
  background: #ffffff;
  padding: 0 35px 0 10px;
}
.form-filter__select:hover {
  color: #3b3b3b;
}
.form-filter__select.select--price {
  width: 75px;
  padding: 0;
  -moz-text-align-last: center;
       text-align-last: center;
}
.form-filter__decor-price {
  position: relative;
  height: 41px;
  border-bottom: 1px solid #ffffff;
}
.form-filter__decor-price:hover {
  border-color: #ff8900;
}

.form-feedback__input {
  box-sizing: border-box;
  border: 1px solid #9c9c9c;
  width: 215px;
  height: 40px;
  padding: 10px;
}
.form-feedback__input.error {
  border: 1px solid #ff4800;
}
.form-feedback__area {
  box-sizing: border-box;
  border: 1px solid #9c9c9c;
  width: 485px;
  height: 87px;
  padding: 10px;
  resize: none;
}
.form-feedback__area.error {
  border: 1px solid #ff4800;
}

.form-mailing__input {
  border: none;
  outline: none;
  width: 400px;
  height: 50px;
  padding-left: 20px;
  color: #929292;
  box-sizing: border-box;
}

.checkbox__inp {
  display: none;
}

.checkbox__inp:checked ~ .checkbox__text {
  color: #3b3b3b;
}

.checkbox__inp:checked ~ .checkbox__text:before {
  content: "";
  border: 1px solid #9c9c9c;
  background: url("/images/service-img/flag.png") center center no-repeat #ffecb3;
}

.checkbox__text {
  position: relative;
  padding-left: 25px;
  color: #616161;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #9c9c9c;
}

.range__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.range__decor {
  display: inline-block;
  width: 90px;
  height: 40px;
  position: relative;
  border: 1px solid #9c9c9c80;
  overflow: hidden;
  margin: 0 20px 0 10px;
}
.range__decor.decor--last {
  margin: 0 10px 0;
}
.range__input {
  position: absolute;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #929292;
  top: 11px;
  left: -25px;
  border: none;
  outline: none;
}

.socials__item {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #9197a3;
}
.socials__item.item--vk {
  background: url("/images/socials/vk-1.png") center center no-repeat;
}
.socials__item.item--fb {
  background: url("/images/socials/fb-1.png") center center no-repeat;
}
.socials__item.item--twit {
  background: url("/images/socials/twit-1.png") center center no-repeat;
}
.socials__item.item--ytube {
  background: url("/images/socials/yt-1.png") center center no-repeat;
}
.socials__item:hover {
  border-color: #ffc925;
}
.socials__item:hover.item--vk {
  background: url("/images/socials/vk-2.png") center center no-repeat;
}
.socials__item:hover.item--fb {
  background: url("/images/socials/fb-2.png") center center no-repeat;
}
.socials__item:hover.item--twit {
  background: url("/images/socials/twit-2.png") center center no-repeat;
}
.socials__item:hover.item--ytube {
  background: url("/images/socials/yt-2.png") center center no-repeat;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
}

.demo-block__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.demo-block__row > * {
  margin: 0 20px 20px 0;
}

.palette {
  width: 120px;
  padding: 15px;
  line-height: 1.5;
}

.palette-text {
  width: 200px;
}

.typography-block {
  justify-content: space-evenly;
}

.ss-C-1 {
  background: #cbcbcb;
}

.ss-C-2 {
  background: #c3c3c3;
}

.ss-C-3 {
  background: #abafb5;
}

.ss-C-4 {
  background: #929292;
}

.ss-C-5 {
  background: #616161;
  color: #fff;
}

.ss-C-6 {
  background: #3b3b3b;
  color: #fff;
}

.ss-C-7 {
  background: #151515;
  color: #fff;
}