@charset "UTF-8";
/*body {
    font-family: $font-family-sans-serif;
    color: $text-color;
}*/
.wrapper {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px 0;
}

.Bg-white {
  background: #ffffff;
}

.Bg-orange {
  background: #ff8900;
}

.Bg-grey {
  background: #696969;
}

.Bg-grey-ul {
  background: #efefef;
}

.Bg-dark-orange {
  background: #db7200;
}

.Bg-grey-bl {
  background: #606a76;
}

.Bg-grey-lt {
  background: #f5f5f5;
}

.Bg-yellow {
  background: #ffc925;
}

.Bg-yellow-lt {
  background: #fffedb;
}

.C-0 {
  color: #ffffff;
}

.C-1 {
  color: #cbcbcb;
}

.C-2 {
  color: #c3c3c3;
}

.C-3 {
  color: #abafb5;
}

.C-4 {
  color: #929292;
}

.C-5 {
  color: #616161;
}

.C-6 {
  color: #3b3b3b;
}

.C-7 {
  color: #151515;
}

.C-8 {
  color: #a0a9b2;
}

.C-9 {
  color: #848484;
}

.C-10 {
  color: #9b9b9b;
}

.C-11 {
  color: #757575;
}

.C-12 {
  color: #9c9c9c;
}

.C-13 {
  color: #000000;
}

.C-14 {
  color: #b7b7b7;
}

.C-15 {
  color: #acacac;
}

.t-underline {
  text-decoration: underline;
}
.t-underline:hover {
  text-decoration: none;
}

.t-line {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-text-decoration-color: #ff4800;
          text-decoration-color: #ff4800;
}

.R36 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.R26-up {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.R26-bl-up {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.R26-i {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
}

.R26-b {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.R24-b {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.R20-b {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.R20-bup {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.R20-m {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.R18-b {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.R17 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.R16-b {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.R16-bup {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.R16-bi {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

.R16-bli {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
}

.R16-bli-up {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.R14 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.R14-bup {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.R14-l {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.R13 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.R12 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.R12-up {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.R10 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.R10-up {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.R10-bup {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .R36 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
  }

  .R26-up {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .R26-bl-up {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .R26-i {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
  }

  .R26-b {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .R24-b {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .R20-b {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .R20-bup {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .R20-m {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) {
  .R36 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
  }

  .R26-up {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .R26-bl-up {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .R26-i {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 900;
    font-style: italic;
  }

  .R26-b {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 700;
  }

  .R24-b {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .R20-b {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .R20-bup {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .R20-m {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .R18-b {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .R17 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }

  .R16-b {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .R16-bup {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .R16-bi {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
  }

  .R16-bli {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
  }

  .R16-bli-up {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
  }
}
.P36-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.P30-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.P24-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.P20-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.P18-b {
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.P18 {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
}

.P17 {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
}

.P14 {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
}

.P14-bup {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.P13 {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
}

.P12 {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
}

.P10-up {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.P10-bup {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .P36-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 26px;
  }

  .P30-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .P24-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .P20-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  .P18-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }

  .P18 {
    font-family: "ProximaNova", sans-serif;
    font-size: 14px;
  }

  .P17 {
    font-family: "ProximaNova", sans-serif;
    font-size: 13px;
  }

  .P14 {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
  }

  .P14-bup {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .P13 {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
  }

  .P12 {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
  }

  .P10-up {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  .P10-bup {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1024px) {
  .P36-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 36px;
  }

  .P30-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  .P24-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .P20-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .P18-b {
    font-family: "ProximaNova", sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .P18 {
    font-family: "ProximaNova", sans-serif;
    font-size: 18px;
  }

  .P17 {
    font-family: "ProximaNova", sans-serif;
    font-size: 17px;
  }

  .P14 {
    font-family: "ProximaNova", sans-serif;
    font-size: 14px;
  }

  .P14-bup {
    font-family: "ProximaNova", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .P13 {
    font-family: "ProximaNova", sans-serif;
    font-size: 13px;
  }

  .P12 {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
  }

  .P10-up {
    font-family: "ProximaNova", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
  }

  .P10-bup {
    font-family: "ProximaNova", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.E26-bi {
  font-family: "Europe", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
}

.E20-bi {
  font-family: "Europe", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
}

.E16-bi {
  font-family: "Europe", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .E26-bi {
    font-family: "Europe", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }

  .E20-bi {
    font-family: "Europe", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }

  .E16-bi {
    font-family: "Europe", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1024px) {
  .E26-bi {
    font-family: "Europe", sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
  }

  .E20-bi {
    font-family: "Europe", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }

  .E16-bi {
    font-family: "Europe", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.6666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.333333%;
  }

  .col-sm-2 {
    width: 16.666666%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.333333%;
  }

  .col-sm-5 {
    width: 41.6666666%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.333333%;
  }

  .col-sm-8 {
    width: 66.666666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }

  .col-md-2 {
    width: 16.666666%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.333333%;
  }

  .col-md-5 {
    width: 41.6666666%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.333333%;
  }

  .col-md-8 {
    width: 66.666666%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }

  .col-lg-2 {
    width: 16.666666%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.333333%;
  }

  .col-lg-5 {
    width: 41.6666666%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.333333%;
  }

  .col-lg-8 {
    width: 66.666666%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }

  .col-xl-2 {
    width: 16.666666%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.333333%;
  }

  .col-xl-5 {
    width: 41.6666666%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.333333%;
  }

  .col-xl-8 {
    width: 66.666666%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .col-xxl-1 {
    width: 8.333333%;
  }

  .col-xxl-2 {
    width: 16.666666%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.333333%;
  }

  .col-xxl-5 {
    width: 41.6666666%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.333333%;
  }

  .col-xxl-8 {
    width: 66.666666%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-12 {
    width: 100%;
  }
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-12,
.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-12 {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.Lh-s {
  line-height: 40px;
}

.Lh-m {
  line-height: 50px;
}

.Lh-l {
  line-height: 55px;
}

.Lh-xl {
  line-height: 70px;
}

.Mx-s {
  margin-left: 10px;
  margin-right: 10px;
}

.My-s {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Mt-s {
  margin-top: 10px;
}

.Mb-s {
  margin-bottom: 10px;
}

.Ml-s {
  margin-left: 10px;
}

.Mr-s {
  margin-right: 10px;
}

@media screen and (min-width: 576px) {
  .Mx {
    margin-left: 20px;
    margin-right: 20px;
  }

  .My {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Mt {
    margin-top: 20px;
  }

  .Mb {
    margin-bottom: 20px;
  }

  .Ml {
    margin-left: 20px;
  }

  .Mr {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .Mx-m {
    margin-left: 30px;
    margin-right: 30px;
  }

  .My-m {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .Mt-m {
    margin-top: 30px;
  }

  .Mb-m {
    margin-bottom: 30px;
  }

  .Ml-m {
    margin-left: 30px;
  }

  .Mr-m {
    margin-right: 30px;
  }
}
@media screen and (min-width: 992px) {
  .Mx-l {
    margin-left: 40px;
    margin-right: 40px;
  }

  .My-l {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .Mt-l {
    margin-top: 40px;
  }

  .Mb-l {
    margin-bottom: 40px;
  }

  .Ml-l {
    margin-left: 40px;
  }

  .Mr-l {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .Mt-xl {
    margin-top: 60px;
  }

  .Mb-xl {
    margin-bottom: 60px;
  }

  .Ml-xl {
    margin-left: 60px;
  }

  .Mr-xl {
    margin-right: 60px;
  }
}
.Px-s {
  padding-left: 5px;
  padding-right: 5px;
}

.Py-s {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Pt-s {
  padding-top: 5px;
}

.Pb-s {
  padding-bottom: 5px;
}

.Pl-s {
  padding-left: 5px;
}

.Pr-s {
  padding-right: 5px;
}

@media screen and (min-width: 576px) {
  .Px {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Py {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Pt {
    padding-top: 10px;
  }

  .Pb {
    padding-bottom: 10px;
  }

  .Pl {
    padding-left: 10px;
  }

  .Pr {
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .Px-m {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Py-m {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Pt-m {
    padding-top: 20px;
  }

  .Pb-m {
    padding-bottom: 20px;
  }

  .Pl-m {
    padding-left: 20px;
  }

  .Pr-m {
    padding-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .Px-l {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Py-l {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .Pt-l {
    padding-top: 30px;
  }

  .Pb-l {
    padding-bottom: 30px;
  }

  .Pl-l {
    padding-left: 30px;
  }

  .Pr-l {
    padding-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .Pt-xl {
    padding-top: 70px;
  }

  .Pb-xl {
    padding-bottom: 70px;
  }

  .Pl-xl {
    padding-left: 70px;
  }

  .Pr-xl {
    padding-right: 70px;
  }
}
.header-cap__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .header-cap__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.header-mane__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (min-width: 1300px) {
  .header-mane__right {
    justify-content: space-between;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .breadcrumb {
    justify-content: left;
  }
}
.breadcrumb__item {
  padding: 5px 0;
  margin-right: 30px;
}
.breadcrumb__item:not(.active) {
  position: relative;
  text-decoration: underline;
}
.breadcrumb__item:not(.active):hover {
  text-decoration: none;
}
.breadcrumb__item:not(.active):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background: #ff8900;
  top: 51%;
  right: -20px;
}

.logo {
  display: none;
}
@media screen and (min-width: 1300px) {
  .logo {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.logo__text {
  display: none;
}

.logo-grey {
  display: none;
}
@media screen and (min-width: 992px) {
  .logo-grey {
    display: flex;
    align-items: stretch;
  }
}
.logo-grey__image {
  padding-right: 15px;
}
.logo-grey__text {
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-left: 1px solid #ffffff26;
}

.btn {
  position: relative;
  display: inline-block;
  color: #ffffff;
  background: #ff8900;
  line-height: 50px;
  padding: 0 25px;
}
.btn-success {
  background: #38c172;
}
.btn-error {
  background: #ff4800;
}
.btn-warning {
  background: #ffc925;
}
.btn-info {
  background: #ee82ee;
}
.btn-message {
  background: #afb9c6;
  padding: 0 25px;
}
.btn-review {
  background: #afb9c6;
  width: 210px;
  text-align: center;
}
.btn-option {
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
  width: 210px;
  text-align: center;
}
.btn-option:hover {
  background: linear-gradient(90deg, #d36e00 0%, #e59100 100%);
}
.btn-filter {
  background: #afb9c6;
  padding-left: 50px;
  width: 210px;
}
.btn-filter.filter--red {
  background: #ff4800;
}
.btn-filter:before {
  content: url("/images/service-img/cross-small.png");
  position: absolute;
  top: 2px;
  left: 28px;
}
.btn-feedback {
  background: #afb9c6;
}
.btn-search {
  width: 165px;
  text-align: center;
}
.btn-buy {
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
  padding: 0 35px 0 68px;
}
.btn-buy.btn--large {
  width: 100%;
  text-align: center;
}
.btn-buy:hover {
  background: linear-gradient(90deg, #d36e00 0%, #e59100 100%);
}
.btn-buy span {
  position: relative;
  display: inline-block;
}
.btn-buy span:before {
  content: url("/images/service-img/carriage.png");
  position: absolute;
  top: 5px;
  left: -43px;
}
.btn-proposal {
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
  padding: 20px;
}
.btn-proposal span {
  display: none;
}
.btn-proposal:before {
  content: url("/images/service-img/carriage.png");
  position: absolute;
  top: 4px;
  left: 4px;
}
@media screen and (min-width: 1024px) {
  .btn-proposal {
    background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
    padding: 0 35px 0 68px;
  }
  .btn-proposal:hover {
    background: linear-gradient(90deg, #d36e00 0%, #e59100 100%);
  }
  .btn-proposal span {
    position: relative;
    display: inline-block;
  }
  .btn-proposal span:before {
    content: url("/images/service-img/carriage.png");
    position: absolute;
    top: 5px;
    left: -43px;
  }
  .btn-proposal:before {
    content: "";
    display: none;
  }
}
.btn-login {
  padding: 0 35px 0 60px;
}
.btn-login:before {
  content: url("/images/service-img/user.png");
  position: absolute;
  top: 3px;
  left: 30px;
}
.btn-call {
  padding: 0 50px;
}
.btn-call.call--me {
  padding: 0 35px 0 50px;
}
.btn-call.call--me:before {
  content: url("/images/service-img/phone.png");
  position: absolute;
  top: 5px;
  left: 32px;
}
.btn-menu {
  width: 100%;
  line-height: 55px;
  background: linear-gradient(90deg, #ff8500 0%, #fcb045 100%);
  padding-left: 80px;
}
.btn-menu:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 100%;
  background: url("/images/service-img/burger.png") center center no-repeat #db7200;
}
.btn-menu:active {
  background: #db7200;
}
.btn-tab {
  background: #efefef;
  line-height: 40px;
  color: #696969;
  border: 4px solid #efefef;
  padding: 0 50px;
}
.btn-tab.is-active {
  background: #ff8900;
  color: #ffffff;
}

.nav-header {
  color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.nav-header__link {
  position: relative;
  color: inherit;
  display: inline-block;
  line-height: 50px;
}
.nav-header__link:hover, .nav-header__link:target {
  color: #ffffff;
}
.nav-header__link:hover:before, .nav-header__link:target:before {
  content: "";
  position: absolute;
  top: 96%;
  left: -8px;
  width: 122%;
  height: 2px;
  background: #ffc925;
}

.сallback {
  display: flex;
  padding-left: 10px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 800px) {
  .сallback {
    width: auto;
    margin: 0;
  }
}
.сallback__item {
  padding: 10px 0;
}

.counter {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-evenly;
}
@media screen and (min-width: 800px) {
  .counter {
    width: auto;
  }
}
.counter__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .counter__item {
    border-right: 1px solid #e4e4e4;
  }
  .counter__item:last-child {
    border: none;
  }
}
.counter__title {
  padding-top: 10px;
}

.menu__item {
  position: relative;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .menu__item {
    margin: 0;
  }
}

.submenu {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}
.submenu.js-active {
  display: block;
}
.submenu__link {
  position: relative;
  display: block;
  padding: 19px 35px;
  box-shadow: 0 0 1px 0px #0000001a;
}
.submenu__link:after {
  content: url("/images/service-img/arrow-right.png");
  position: absolute;
  top: 39%;
  right: 10%;
}

.menu-option {
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .menu-option {
    margin-top: -10px;
  }
}
.menu-option__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu-option__header-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.menu-option__header-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.menu-option__header-img.img--car {
  background: url("/images/service-img/img-1a.png") right center no-repeat;
}
.menu-option__header-img.img--track {
  background: url("/images/service-img/img-2a.png") right center no-repeat;
}
.menu-option__header-img.img--tyre {
  background: url("/images/service-img/img-3a.png") right center no-repeat;
}
.menu-option__header-img.img--flask {
  background: url("/images/service-img/img-4a.png") right center no-repeat;
}
.menu-option__header-img.img--battery {
  background: url("/images/service-img/img-5a.png") right center no-repeat;
}
.menu-option__header-link:hover:before {
  content: "";
  position: absolute;
  top: 97%;
  left: 2px;
  width: 107%;
  height: 2px;
  background: #ffc925;
}
.menu-option__header-link:hover .menu-option__header-text {
  color: #ffffff;
}
.menu-option__header-link:hover .img--car {
  background: url("/images/service-img/img-1b.png") right center no-repeat;
}
.menu-option__header-link:hover .img--track {
  background: url("/images/service-img/img-2b.png") right center no-repeat;
}
.menu-option__header-link:hover .img--tyre {
  background: url("/images/service-img/img-3b.png") right center no-repeat;
}
.menu-option__header-link:hover .img--flask {
  background: url("/images/service-img/img-4b.png") right center no-repeat;
}
.menu-option__header-link:hover .img--battery {
  background: url("/images/service-img/img-5b.png") right center no-repeat;
}
@media screen and (min-width: 1024px) {
  .menu-option__body {
    padding: 25px 37px;
  }
}

.cards__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards__title {
  position: relative;
  padding-bottom: 10px;
}
.cards__title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ff8900;
  top: 100%;
  left: 0;
}
.cards__link {
  position: relative;
  text-decoration: underline;
  padding-right: 20px;
}
.cards__link:hover {
  text-decoration: none;
}
.cards__link:after {
  content: url("/images/service-img/arrow-right-orange.png");
  position: absolute;
  top: -3px;
  right: 0;
}
.cards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 400px) {
  .card {
    width: 340px;
    padding: 20px 10px;
    border: 1px solid #dbdbdb;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1389px) {
  .card:nth-child(3n+1) {
    border-left: none;
  }
  .card:nth-child(3n) {
    border-right: none;
  }
}
@media screen and (min-width: 1390px) {
  .card:nth-child(4n+1) {
    border-left: none;
  }
  .card:nth-child(4n) {
    border-right: none;
  }
}
.card__label {
  display: inline-block;
  padding: 5px 20px;
}
.card__title {
  display: block;
  height: 50px;
  margin-bottom: 15px;
}
.card__title span {
  display: block;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.card__title:hover span {
  text-decoration: none;
}
.card__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.card__block-image {
  display: flex;
  margin-bottom: 10px;
}
.card__product-img {
  -o-object-fit: none;
     object-fit: none;
  width: 250px;
  height: 200px;
}
.card__status {
  display: flex;
  justify-content: center;
  min-height: 48px;
}
.card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card__price-old {
  -webkit-text-decoration: line-through #e00000;
          text-decoration: line-through #e00000;
}
.card__button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.card__quantity-row {
  display: flex;
  align-items: center;
}
.card__product-quantity {
  padding: 15px 25px;
  margin-right: 5px;
}
.card__button {
  text-align: center;
  margin-bottom: 15px;
}
.card__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__image {
  width: 150px;
}
@media screen and (min-width: 992px) {
  .product__image {
    width: 100%;
  }
}
.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__status-rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product__status {
  display: flex;
  align-items: center;
}
.product__rating {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.product__condition-brand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product__condition {
  display: flex;
  align-items: center;
}
.product__condition .condition {
  padding: 7px 15px;
  border-right: 1px solid #e7e7e7;
}
.product__condition .condition:first-child {
  padding-left: 0;
}
.product__condition .condition:last-child {
  border: none;
}
.product__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__brand-link {
  position: relative;
  text-decoration: underline;
}
.product__brand-link:hover {
  text-decoration: none;
}
.product__brand-link:after {
  content: url("/images/service-img/arrow-right-orange.png");
  display: block;
  position: absolute;
  top: -3px;
  right: -20px;
}
.product__form-block {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product__description {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .product__description {
    width: 55%;
  }
}
.product__desc-row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.product__desc-row:nth-child(even) {
  background: #f5f5f5;
}
.product__desc-row div {
  width: 50%;
  padding-left: 20px;
}

.tabs__triggers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid #ababab4d;
}
@media screen and (min-width: 1024px) {
  .tabs__triggers {
    display: inline-flex;
  }
}
.tabs__triggers .tab-trigger {
  padding: 10px 5px;
}
@media screen and (min-width: 1024px) {
  .tabs__triggers .tab-trigger {
    padding: 15px 25px;
  }
}
.tabs__triggers .tab-trigger.is-active {
  color: #3b3b3b;
  border-bottom: 1.5px solid #ffc925;
}
.tabs__triggers .tab-trigger:hover {
  color: #3b3b3b;
  border-bottom: 1.5px solid #ffc925;
  cursor: pointer;
}
.tabs .tab-content {
  display: none;
}
.tabs .tab-content.is-active {
  display: block;
}

.tab-desc {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .tab-desc {
    width: 84%;
  }
}
.tab-desc__text {
  line-height: 25px;
}
.tab-desc__row {
  overflow: hidden;
}
.tab-desc__image {
  width: 200px;
  height: 150px;
  float: left;
}
@media screen and (min-width: 1024px) {
  .tab-desc__image {
    width: 555px;
    height: 347px;
  }
}
.tab-desc__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab-props {
  border-collapse: collapse;
  width: 100%;
}
.tab-props th, .tab-props td {
  padding: 0;
  text-align: center;
}
.tab-props th:first-child, .tab-props td:first-child {
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .tab-props th, .tab-props td {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 1300px) {
  .tab-props th, .tab-props td {
    padding: 10px 30px;
  }
}
.tab-props__link {
  line-height: 1.5;
}
.tab-props__price {
  padding: 5px 5px;
  margin-right: 5px;
}
@media screen and (min-width: 992px) {
  .tab-props__price {
    padding: 14px 24px;
  }
}

.reviews-block {
  max-height: 440px;
  overflow-y: auto;
}

.review__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review__text {
  line-height: 20px;
}

.guarantee-tab {
  width: 100%;
  padding: 0 25px;
}
@media screen and (min-width: 768px) {
  .guarantee-tab {
    width: 68%;
  }
}
.guarantee-tab__item {
  position: relative;
  line-height: 1.5;
}
.guarantee-tab__item:before {
  content: url("/images/service-img/check.png");
  position: absolute;
  top: 0%;
  left: -25px;
}

.categories__title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.categories__title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ff8900;
  top: 100%;
  left: 0;
}
.categories__row {
  display: flex;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  border: 1px solid #dbdbdb;
  padding: 40px 25px;
  margin-left: -1px;
  margin-top: -1px;
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .category-card {
    width: 50%;
  }
  .category-card:nth-child(odd) {
    border-left: none;
  }
  .category-card:nth-child(even) {
    border-right: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .category-card {
    width: 33.333333%;
  }
  .category-card:nth-child(3n+1) {
    border-left: none;
  }
  .category-card:nth-child(3n+3) {
    border-right: none;
  }
}
@media screen and (min-width: 992px) {
  .category-card {
    width: 25%;
    height: 430px;
  }
  .category-card:nth-child(4n+1) {
    border-left: none;
  }
  .category-card:nth-child(4n+4) {
    border-right: none;
  }
}
.category-card__image {
  width: 100%;
  height: 250px;
}
.category-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category-card__title {
  text-decoration: underline;
}
.category-card__title:hover {
  text-decoration: none;
}
.condition {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.condition__image {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-item {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
}
.rating__star {
  width: 95px;
  height: 18px;
  background-image: url("/images/sprites/stars.png");
  background-position: 99%;
  margin-right: 10px;
}
.rating__star.rating--1 {
  background-position: 79%;
}
.rating__star.rating--2 {
  background-position: 60%;
}
.rating__star.rating--3 {
  background-position: 40%;
}
.rating__star.rating--4 {
  background-position: 21%;
}
.rating__star.rating--5 {
  background-position: 1%;
}
.rating__comment {
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.tag {
  width: 85px;
  height: 48px;
  text-align: center;
  padding: 14px 0;
}
.tag--novelty {
  background: url("/images/card-image/badge-1.png") center no-repeat;
}
.tag--hit {
  background: url("/images/card-image/badge-2.png") center no-repeat;
}
.tag--sale {
  background: url("/images/card-image/badge-3.png") center no-repeat;
}

.vantage__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  padding: 20px 0;
}
.vantage__item:last-child {
  border: none;
}
.vantage__image {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}
.vantage__image.image--map {
  background: url("/images/service-img/ukraine.png") center center no-repeat;
}
.vantage__image.image--card {
  background: url("/images/service-img/card-bank.png") center center no-repeat;
}
.vantage__image.image--flag {
  background: url("/images/service-img/warranty.png") center center no-repeat;
}
.vantage__text {
  line-height: 1.3;
}

.form-enter {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-enter__close {
  position: absolute;
  top: -44px;
  right: 48%;
}
@media screen and (min-width: 900px) {
  .form-enter__close {
    top: -44px;
    right: 1px;
  }
}
@media screen and (min-width: 1024px) {
  .form-enter__close {
    top: -35px;
    right: -35px;
  }
}
.form-enter__item {
  position: relative;
  width: 375px;
  padding: 10px;
}
@media screen and (min-width: 400px) {
  .form-enter__item {
    padding: 30px 40px;
  }
}
.form-enter__item:first-child:after {
  content: "";
  position: absolute;
  top: 37px;
  right: 0;
  width: 1px;
  height: 84%;
  background: #dbdbdb;
}
.form-enter__item > :nth-child(n) {
  margin-bottom: 20px;
}
.form-enter__item > :last-child {
  margin: 0;
}
.form-enter .input-title {
  margin-bottom: 10px;
}
.form-enter label {
  display: block;
}
.form-enter__input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
.form-enter__link {
  text-decoration: underline;
  margin-right: 10px;
}
.form-enter__link:hover {
  text-decoration: none;
}
.form-enter__social-link {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 17px 0;
}
.form-enter__social-link.link--fb {
  background: #3b5998;
}
.form-enter__social-link.link--fb:before {
  content: url("/images/socials/fb-1.png");
  position: absolute;
  top: 18px;
  left: 91px;
}
.form-enter__social-link.link--twit {
  background: #41abe1;
}
.form-enter__social-link.link--twit:before {
  content: url("/images/socials/twit-1.png");
  position: absolute;
  top: 19px;
  left: 97px;
}
.form-enter__social-link.link--google {
  background: #ea4335;
}
.form-enter__social-link.link--google:before {
  content: url("/images/socials/g-1.png");
  position: absolute;
  top: 17px;
  left: 97px;
}

.form-callMe-container {
  max-width: 380px;
  margin: 0 auto;
}

.form-callMe {
  position: relative;
  padding: 35px;
}
.form-callMe__title {
  margin-bottom: 35px;
}
.form-callMe label {
  display: block;
  margin-bottom: 30px;
}
.form-callMe label .input-title {
  margin-bottom: 15px;
}
.form-callMe__input {
  width: 100%;
  border: 1px solid #d2d2d2;
  padding: 12px;
}
.form-callMe__button {
  text-align: center;
  margin-bottom: 10px;
}
.form-callMe__close {
  position: absolute;
  top: -40px;
  right: 48%;
}
@media screen and (min-width: 500px) {
  .form-callMe__close {
    top: -40px;
    right: -40px;
  }
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-search label {
  position: relative;
  flex-grow: 1;
}
.form-search label:after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  width: 1px;
  height: 80%;
  background: #dadada;
}
.form-search__input {
  width: 100%;
  height: 55px;
  padding-left: 20px;
}
.form-search__decor {
  position: relative;
}
.form-search__decor:before {
  content: url("/images/service-img/arrow-bottom-grey.png");
  position: absolute;
  top: 31%;
  left: 76%;
  cursor: pointer;
}
.form-search__select {
  cursor: pointer;
  width: 150px;
  height: 55px;
  padding: 0 35px 0 10px;
}

.form-option__tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .form-option__tab {
    justify-content: left;
  }
}
.form-option__control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-option__decor {
  position: relative;
  width: 220px;
  height: 45px;
  border-bottom: 1px solid #ffffff;
  margin: 0 20px 20px 0;
}
@media screen and (min-width: 1370px) {
  .form-option__decor:nth-child(4n+4) {
    margin: 0;
  }
}
.form-option__decor:before {
  content: url("/images/service-img/arrow-bottom.png");
  position: absolute;
  top: 23%;
  left: 86%;
  cursor: pointer;
}
.form-option__decor:hover {
  border-color: #ff8900;
}
.form-option .not-active {
  display: none;
}
.form-option__select {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0 35px 0 10px;
}
.form-option__select:hover {
  color: #3b3b3b;
}
.form-option__select.select--price {
  width: 75px;
  padding: 0;
  -moz-text-align-last: center;
       text-align-last: center;
}
.form-option__block-price {
  width: 220px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 20px 0;
}
@media screen and (min-width: 1370px) {
  .form-option__block-price {
    margin: 0;
  }
}
.form-option__decor-price {
  position: relative;
  height: 45px;
  border-bottom: 1px solid #ffffff;
}
.form-option__decor-price:hover {
  border-color: #ff8900;
}
.form-option__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-feedback__input {
  box-sizing: border-box;
  border: 1px solid #9c9c9c;
  width: 215px;
  height: 40px;
  padding: 10px;
}
.form-feedback__input.error {
  border: 1px solid #ff4800;
}
.form-feedback__area {
  box-sizing: border-box;
  border: 1px solid #9c9c9c;
  width: 485px;
  height: 87px;
  padding: 10px;
  resize: none;
}
.form-feedback__area.error {
  border: 1px solid #ff4800;
}

.form-mailing__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-mailing label {
  flex-grow: 1;
}
.form-mailing__input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
}
.form-mailing__input::-moz-placeholder {
  color: #929292;
}
.form-mailing__input:-ms-input-placeholder {
  color: #929292;
}
.form-mailing__input::placeholder {
  color: #929292;
}

.form-product {
  width: 100%;
}
@media screen and (min-width: 776px) {
  .form-product {
    width: 55%;
  }
}
.form-product__select-wrapper {
  position: relative;
}
.form-product__select-wrapper:after {
  content: url("/images/service-img/arrow-bottom-grey.png");
  position: absolute;
  top: 23%;
  right: 18px;
  cursor: pointer;
}
.form-product__select {
  width: 100%;
  height: 40px;
  border: 1px solid #d2d2d2;
  padding: 0 20px;
}
.form-product__select.select--small {
  width: 95px;
}
.form-product__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-product__choice {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-product__counter {
  display: flex;
  flex-wrap: wrap;
}

.form-review span {
  display: block;
}
.form-review input, .form-review textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d2d2d2;
}
.form-review input::-moz-placeholder, .form-review textarea::-moz-placeholder {
  color: #9c9c9c;
}
.form-review input:-ms-input-placeholder, .form-review textarea:-ms-input-placeholder {
  color: #9c9c9c;
}
.form-review input::placeholder, .form-review textarea::placeholder {
  color: #9c9c9c;
}
.form-review textarea {
  height: 90px;
  resize: none;
}
.form-review__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
@media screen and (min-width: 992px) {
  .form-review__row {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.form-review__label {
  min-width: 215px;
  flex-grow: 1;
  margin: 0 20px 20px 0;
}
.form-review__rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
}
.form-review__rating input {
  display: none;
}
.form-review__rating label {
  height: 20px;
  width: 20px;
  background: url("/images/sprites/stars-two.png") -19px center no-repeat;
  cursor: pointer;
}
.form-review__rating input:checked ~ label {
  background: url("/images/sprites/stars-two.png") left center no-repeat;
}
.form-review__rating input:checked + label:after, .form-review label:hover:before {
  position: absolute;
  left: calc(100% + 10px);
  top: 7px;
  display: block;
  font-weight: bold;
}
.form-review__rating:hover input:checked + label:after {
  display: none;
}
.form-review__textarea {
  display: block;
}
.form-review__button {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .form-review__button {
    text-align: left;
  }
}

.checkbox__inp {
  display: none;
}

.checkbox__inp:checked ~ .checkbox__text {
  color: #3b3b3b;
}

.checkbox__inp:checked ~ .checkbox__text:before {
  content: "";
  border: 1px solid #9c9c9c;
  background: url("/images/service-img/flag.png") center center no-repeat #ffecb3;
}

.checkbox__text {
  position: relative;
  padding-left: 25px;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #9c9c9c;
}

.range__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.range__decor {
  display: inline-block;
  width: 90px;
  height: 40px;
  position: relative;
  border: 1px solid #9c9c9c80;
  overflow: hidden;
  margin: 0 20px 0 10px;
}
.range__decor.decor--last {
  margin: 0 10px 0;
}
.range__input {
  position: absolute;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #929292;
  top: 11px;
  left: -25px;
  border: none;
  outline: none;
}

.socials {
  display: flex;
  flex-wrap: wrap;
}
.socials__item {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #9197a3;
  margin: 0 10px 10px 0;
}
.socials__item.item--vk {
  background: url("/images/socials/vk-1.png") center center no-repeat;
}
.socials__item.item--fb {
  background: url("/images/socials/fb-1.png") center center no-repeat;
}
.socials__item.item--twit {
  background: url("/images/socials/twit-1.png") center center no-repeat;
}
.socials__item.item--ytube {
  background: url("/images/socials/yt-1.png") center center no-repeat;
}
.socials__item:hover {
  border-color: #ffc925;
}
.socials__item:hover.item--vk {
  background: url("/images/socials/vk-2.png") center center no-repeat;
}
.socials__item:hover.item--fb {
  background: url("/images/socials/fb-2.png") center center no-repeat;
}
.socials__item:hover.item--twit {
  background: url("/images/socials/twit-2.png") center center no-repeat;
}
.socials__item:hover.item--ytube {
  background: url("/images/socials/yt-2.png") center center no-repeat;
}

.wezom {
  display: flex;
  align-items: center;
}
.wezom img {
  padding-right: 15px;
}
.wezom__text {
  padding-left: 15px;
  position: relative;
  border-left: 1px solid #ffffff26;
}
.wezom__text > div {
  margin-bottom: 5px;
}

.footer__title {
  border-bottom: 1px solid #ffffff26;
}
.footer__title-decor {
  position: relative;
  line-height: 40px;
  display: inline-block;
}
.footer__title-decor:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ff8900;
  top: 100%;
  left: 0;
}
.footer__link {
  display: block;
  line-height: 33px;
  -webkit-text-decoration: underline #cbcbcb;
          text-decoration: underline #cbcbcb;
}
.footer__link:hover {
  text-decoration: none;
}
.footer hr {
  opacity: 0.15;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 576px) {
  .footer__socials {
    justify-content: space-between;
  }
}

.Grid {
  display: flex;
  flex-wrap: wrap;
}

.demo-block__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.demo-block__row > * {
  margin: 0 20px 20px 0;
}

.palette {
  width: 150px;
  text-align: center;
  padding: 15px;
  line-height: 1.5;
}

.palette-text {
  width: 200px;
}

.typography-block {
  justify-content: space-evenly;
}

.ss-C-0 {
  background: #ffffff;
}

.ss-C-1 {
  background: #cbcbcb;
}

.ss-C-2 {
  background: #c3c3c3;
}

.ss-C-3 {
  background: #abafb5;
}

.ss-C-4 {
  background: #929292;
}

.ss-C-5 {
  background: #616161;
  color: #fff;
}

.ss-C-6 {
  background: #3b3b3b;
  color: #fff;
}

.ss-C-7 {
  background: #151515;
  color: #fff;
}

.ss-C-8 {
  background: #a0a9b2;
}

.ss-C-9 {
  background: #848484;
}

.ss-C-10 {
  background: #9b9b9b;
}

.ss-C-11 {
  background: #757575;
}

.ss-C-12 {
  background: #9c9c9c;
}

.ss-C-13 {
  background: #000000;
  color: #fff;
}

.ss-C-14 {
  background: #b7b7b7;
}

.ss-C-15 {
  background: #acacac;
}