//------------------Background---------------------------------
.Bg-orange { background: $orange; }
.Bg-grey { background: $grey; }
.Bg-dark-orange { background: $dark-orange; }
.Bg-grey-bl { background: $grey-bl; }
.Bg-grey-lt { background: $grey-light; }
.Bg-yellow { background: $yellow; }
.Bg-yellow-lt { background: $yellow-light; }

//----------------Color---------------------
.C-1 { color: $block-linc; }
.C-2 { color: $linc-nav; }
.C-3 { color: $linc-option-nav; }
.C-4 { color: $text-input-search; }
.C-5 { color: $text-select-search; }
.C-6 { color: $text-color; }
.C-7 { color: $phone-color; }
