$font-family-main: 'Roboto', sans-serif;
$font-family-second: 'ProximaNova', sans-serif;
$font-family-third: 'Europe', sans-serif;
// Font size
//---------Roboto-------------------------------------
.R36 { font-family: $font-family-main; font-size: 36px; }

.R26-up { font-family: $font-family-main; font-size: 26px; font-weight: 900; text-transform: uppercase; }
.R26-bl-up { font-family: $font-family-main; font-size: 26px; font-weight: 900; text-transform: uppercase; }
.R26-i { font-family: $font-family-main; font-size: 26px; font-weight: 900; font-style: italic; }
.R26-b { font-family: $font-family-main; font-size: 26px; font-weight: 700; }

.title-lg { font-family: $font-family-main; font-size: 24px; font-weight: 700; }

.R20-b { font-family: $font-family-main; font-size: 20px; font-weight: 700; }
.R20-bup { font-family: $font-family-main; font-size: 20px; font-weight: 700; text-transform: uppercase}
.R20-m { font-family: $font-family-main; font-size: 20px; font-weight: 500; }

.R18-b { font-family: $font-family-main; font-size: 18px; font-weight: 700; }

.R17 { font-family: $font-family-main; font-size: 17px; }

.R16-bup { font-family: $font-family-main; font-size: 16px; font-weight: 700; text-transform: uppercase; }
.R16-bi { font-family: $font-family-main; font-size: 16px; font-weight: 700; font-style: italic; }
.R16-bli { font-family: $font-family-main; font-size: 16px; font-weight: 900; font-style: italic; }
.R16-bli-up { font-family: $font-family-main; font-size: 16px; font-weight: 900; font-style: italic; text-transform: uppercase; }

.R14 { font-family: $font-family-main; font-size: 14px; }
.R14-bup { font-family: $font-family-main; font-size: 14px; font-weight: 700; text-transform: uppercase; }
.R14-l { font-family: $font-family-main; font-size: 14px; font-weight: 300; }

.R13 { font-family: $font-family-main; font-size: 13px; }

.R12 { font-family: $font-family-main; font-size: 12px; }
.R12-up { font-family: $font-family-main; font-size: 12px; text-transform: uppercase}

.R10 { font-family: $font-family-main; font-size: 10px; }
.R10-up { font-family: $font-family-main; font-size: 10px; text-transform: uppercase; }
.R10-bup { font-family: $font-family-main; font-size: 10px; font-weight: 700; text-transform: uppercase; }

//---------Roboto-------------------------------------
.P36-b { font-family: $font-family-second; font-weight: bold; font-size: 36px; }
.P30-b { font-family: $font-family-second; font-weight: bold; font-size: 30px; }
.P20-b { font-family: $font-family-second; font-weight: bold; font-size: 20px; }
.P-7 { font-family: $font-family-second; font-size: 17px; }
.P14 { font-family: $font-family-second; font-size: 14px; }

//-----------Europe---------------------------------------------
.E26-bi { font-family: $font-family-third; font-size: 26px; font-weight: bold; font-style: italic; }
.E20-bi { font-family: $font-family-third; font-size: 20px; font-weight: bold; font-style: italic; }


//---------------------Color------------------------------

