$text-grey: #9c9c9c;
// Font size
//---------Roboto-------------------------------------
.R-36 { font-size: 36px; }

.R-26-up { font-size: 26px; font-weight: 900; text-transform: uppercase; }
.R-26-i { font-size: 26px; font-weight: 900; font-style: italic; }

.title-lg { font-size: 24px; font-weight: 700; }

.R-20-b { font-size: 20px; font-weight: 700; }

.R-18-b { font-size: 18px; font-weight: 700; }

.R-17 { font-size: 17px; }

.R-16-b-up { font-size: 16px; font-weight: 700; text-transform: uppercase; }
.R-16-b-i { font-size: 16px; font-weight: 700; font-style: italic; }
.R-16-bl-i { font-size: 16px; font-weight: 900; font-style: italic; }

.R-14 { font-size: 14px; color: $text-grey}
.R-14-b-up { font-size: 14px; font-weight: 700; text-transform: uppercase; }

.R-13 { font-size: 13px; }

.R-12 { font-size: 12px; }
.R-12-up { font-size: 12px; text-transform: uppercase}

.R-10 { font-size: 10px; }
.R-10-b-up { font-size: 10px; font-weight: 700; text-transform: uppercase; }

//---------Roboto-------------------------------------
.P-36-b { font-family: ProximaNova,sans-serif; font-weight: bold; font-size: 36px; }
.P-30-b { font-family: ProximaNova,sans-serif; font-weight: bold; font-size: 30px; }
.P-20-b { font-family: ProximaNova,sans-serif; font-weight: bold; font-size: 20px; }
.P-17 { font-family: ProximaNova,sans-serif; font-size: 17px; }
.P-14 { font-family: ProximaNova,sans-serif; font-size: 14px; }


//-----------Europe---------------------------------------------
.E-26-b-i { font-family: Europe,sans-serif; font-size: 26px; font-weight: bold; font-style: italic; }
.E-20-b-i { font-family: Europe,sans-serif; font-size: 20px; font-weight: bold; font-style: italic; }



