
.ss-bg-orange {
        background: $orange;
}
.ss-bg-grey {
        background: $grey;
}
.ss-bg-dark-orange {
        background: $dark-orange;
}
.ss-bg-grey-bl {
        background: $grey-bl;
}
.ss-bg-grey-lt {
        background: $grey-light;
}

