$text-grey: #9c9c9c;
// Font size
//---------Roboto-------------------------------------
.ss-roboto-36 { font-size: 36px; }

.ss-roboto-26-up { font-size: 26px; font-weight: 900; text-transform: uppercase; }

.ss-roboto-26-i { font-size: 26px; font-weight: 900; font-style: italic; }

.ss-roboto-20-b { font-size: 20px; font-weight: 700; }

.ss-roboto-18-b { font-size: 18px; font-weight: 700; }

.ss-roboto-17 { font-size: 17px; }

.ss-roboto-16-b-up { font-size: 16px; font-weight: 700; text-transform: uppercase; }

.ss-roboto-16-b-i { font-size: 16px; font-weight: 700; font-style: italic; }

.ss-roboto-16-bl-i { font-size: 16px; font-weight: 900; font-style: italic; }

.ss-roboto-14 { font-size: 14px; color: $text-grey}

.ss-roboto-14-b-up { font-size: 14px; font-weight: 700; text-transform: uppercase; }

.ss-roboto-13 { font-size: 13px; }

.ss-roboto-12 { font-size: 12px; }

.ss-roboto-10 { font-size: 10px; }

.ss-roboto-10-b-up { font-size: 10px; font-weight: 700; text-transform: uppercase; }

//---------Roboto-------------------------------------
.ss-proxN {
    &-36-b { font-family: ProximaNova; font-weight: bold; font-size: 36px; }
    &-30-b { font-family: ProximaNova; font-weight: bold; font-size: 30px; }
    &-20-b { font-family: ProximaNova; font-weight: bold; font-size: 20px; }
    &-17 { font-family: ProximaNova; font-size: 17px; }
    &-14 { font-family: ProximaNova; font-size: 14px; }
}

//-----------Europe---------------------------------------------
.ss-eur {
    &-26-b-i { font-family: Europe; font-size: 26px; font-weight: bold; font-style: italic; }
    &-20-b-i { font-family: Europe; font-size: 20px; font-weight: bold; font-style: italic; }
}
// Font color


