$block-linc: #cbcbcb;

// Font size
.ui-fs-ss {
    font-size: 10px;
    &-up {
        font-size: 10px;
        text-transform: uppercase;
    }
}
.ui-fs-sm {
    font-size: 12px;
    &-up {
        font-size: 12px;
        text-transform: uppercase;
    }
}

// Font color


