$small: 40px;
$medium: 50px;
$large: 55px;
$xlarge: 70px;

.Lh-s {
    line-height: $small;
}
.Lh-m {
    line-height: $medium;
}
.Lh-l {
    line-height: $large;
}
.Lh-xl {
    line-height: $xlarge;
}
