.counter {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-evenly;
    @media screen and (min-width: 800px) {
        width: auto;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $border-light;
        &:last-child {
            border: none;
        }
    }
    &__title {
        padding-top: 5px;
    }
}
