.btn {
    position: relative;
    display: inline-block;
    color: $white;
    background: $orange;
    line-height: 50px;
    padding: 0 40px;
    &-success {
        background: $green;
    }
    &-error {
        background: $red;
    }
    &-warning {
        background: $yellow;
    }
    &-info {
        background: #ee82ee;
    }
    &-message {
        background: $grey-lt;
    }
    &-option {
        background: $liner-grad;
        &:hover {
            background: $liner-grad-dark;
        }
    }
    &-filter {
        background: $grey-lt;
        padding: 0 45px 0 60px;
        &.filter--red {
            background: $red;
        }
        &:before {
            content: url("/images/service-img/cross-small.png");
            position: absolute;
            top: 3px;
            left: 36px;
        }
    }
    &-feedback {
        background: #afb9c6;
    }
    &-search {
        padding: 0 55px;
    }
    &-buy {
        background: $liner-grad;
        padding: 0 35px 0 68px;
        &:hover {
            background: $liner-grad-dark;
        }
        &:before {
            content: url("/images/service-img/carriage.png");
            position: absolute;
            top: 5px;
            left: 25px;
        }
    }
    &-login {
        padding: 0 35px 0 60px;
        &:before {
            content: url("/images/service-img/user.png");
            position: absolute;
            top: 3px;
            left: 30px;
        }
    }
    &-call {
        padding: 0 35px 0 50px;
        font-size: 12px;
        font-weight: normal;
        &:before {
            content: url("/images/service-img/phone.png");
            position: absolute;
            top: 5px;
            left: 32px;
        }
    }
    &-menu {
        width: 100%;
        line-height: 55px;
        background: $liner-grad;
        padding-left: 80px;
        &:before {
            //content: url("/images/service-img/burger.png");
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 60px;
            height: 100%;
            background: url("/images/service-img/burger.png") center center no-repeat $dark-orange;
        }
    }
}


