.cards {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        position: relative;
        padding-bottom: 10px;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $orange;
            top: 100%;
            left: 0;
        }
    }
    &__link {
        position: relative;
        text-decoration: underline;
        padding-right: 20px;
        &:hover {text-decoration: none;}
        &:after {
            content: url("/images/service-img/arrow-right-orange.png");
            position: absolute;
            top: -3px;
            right: 0;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.card {
    width: 340px;
    padding: 20px 10px;
    border: 1px solid $border-card;
    margin-left: -1px;
    margin-top: -1px;
    @media screen and (min-width: 1050px) and (max-width: 1389px){
        &:nth-child(3n+1) {border-left: none;}
        &:nth-child(3n) {border-right: none;}
    }
    @media screen and (min-width: 1390px){
        &:nth-child(4n+1) {border-left: none;}
        &:nth-child(4n) {border-right: none;}
    }
    &__label {
        display: inline-block;
        padding: 5px 20px;
    }
    &__title {
        display: block;
        height: 50px;
        margin-bottom: 15px;
        span {
            display: block;
            text-decoration: underline;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 8px;
        }
        &:hover span {text-decoration: none;}
    }
    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__block-image {
        display: flex;
        margin-bottom: 10px;
    }
    &__product-img {
        object-fit: none;
        width: 250px;
        height: 200px;
    }
    &__status {
        display: flex;
        justify-content: center;
        min-height: 48px;
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__price-old {
        text-decoration: line-through #e00000;
    }
    &__button {
        text-align: center;
        margin-bottom: 15px;
    }
    &__counter {
        display: flex;align-items: center;
        justify-content: space-between;
        &-item {
            display: flex;
            align-items: center;
        }
        &-image {
            margin-right: 10px;
        }
        &-text {
            text-decoration: underline;
            &:hover {text-decoration: none;}
        }
    }
}
