
select { /*--------------Сброс стрелки-------------*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select::-ms-expand {  /* для IE */
    display: none;
}
//----------------------------------------------------------------------------------
.form-enter {
    position: absolute;
    z-index: 10;
    display: flex;
    &__item {
        padding: 30px;
        &>:nth-child(n) { margin-bottom: 20px;}
    }
    &__title {}
    .input-title {margin-bottom: 10px}
    label {
        display: block;
    }
    &__input {
        width: 300px;
        height: 40px;
        padding-left: 10px;
    }
    &__link {
        text-decoration: underline;
        margin-right: 10px;
        &:hover {text-decoration: none;}
    }
}
//----------------------------------------------------------------------------------
.form-search {
    display: flex;
     label {
         position: relative;
         flex-grow: 1;
         &:after {
             content: '';
             position: absolute;
             top: 10%;
             right: 0;
             width: 1px;
             height: 80%;
             background: #dadada;
         }
     }
    &__input {
        border: none;
        outline: none;
        width: 100%;
        height: 55px;
        padding-left: 20px;
    }
    &__decor {
        position: relative;
        &:before {
            content: url("/images/service-img/arrow-bottom-grey.png");
            position: absolute;
            top:31%;
            left: 76%;
            cursor: pointer;
        }
    }
    &__select {
        cursor: pointer;
        width: 150px;
        height: 55px;
        border: none;
        outline: none;
        padding: 0 35px 0 10px;
    }
}

.form-option {
    &__tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        @media screen and (min-width: 1024px) {
            justify-content: left;
        }
    }
    &__control {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__decor {
        position: relative;
        width: 220px;
        height: 45px;
        border-bottom: 1px solid $white;
        margin: 0 20px 20px 0;
        @media screen and (min-width: 1370px) {
            &:nth-child(4n+4) {margin: 0}
        }
        &:before {
            content: url("/images/service-img/arrow-bottom.png");
            position: absolute;
            top:23%;
            left: 86%;
            cursor: pointer;
        }
        &:hover {border-color: $orange;}
    }
    &__select {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0 35px 0 10px;
        &:hover {
            color: $text-color;
        }
        &.select--price {
            width: 75px;
            padding: 0;
            text-align-last: center;
        }
    }
    &__decor-price {
        position: relative;
        height: 41px;
        border-bottom: 1px solid $white;
        &:hover {
            border-color: $orange;
        }
    }
    &__button {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.form-feedback {
    &__input {
        box-sizing: border-box;
        border: 1px solid $border-grey;
        width: 215px;
        height: 40px;
        padding: 10px;
        &.error {
            border: 1px solid $red;
        }
    }
    &__area {
        box-sizing: border-box;
        border: 1px solid $border-grey;
        width: 485px;
        height: 87px;
        padding: 10px;
        resize: none;
        &.error {
            border: 1px solid $red;
        }
    }
}
.form-mailing {
    &__form {
        display: flex;
        flex-wrap: wrap;
    }
    label {
        flex-grow: 1;
    }
    &__input {
        border: none;
        outline: none;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        box-sizing: border-box;
        &::placeholder {
            color: $text-input-search;
        }
    }
}

// -----------------Checkbox----------------------------------------------
.checkbox {}
.checkbox__inp {
    display: none;
}
.checkbox__inp:checked~.checkbox__text {
    color: $text-color;
}
.checkbox__inp:checked~.checkbox__text:before {
    content: '';
    border: 1px solid $border-grey;
    background: url("/images/service-img/flag.png") center center no-repeat #ffecb3;
}
.checkbox__text {
    position: relative;
    padding-left: 25px;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid $border-grey;
}
.range {
    &__item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    &__text {}
    &__decor {
        display: inline-block;
        width: 90px;
        height: 40px;
        position: relative;
        border: 1px solid #9c9c9c80;
        overflow: hidden;
        margin: 0 20px 0 10px;
        &.decor--last {
            margin: 0 10px 0;
        }
    }
    &__input {
        position: absolute;
        text-align-last: center;
        color: $text-input-search;
        top: 11px;
        left: -25px;
        border: none;
        outline: none;
    }
}
