.header-top {
    &__container {
        @include grid ($jc: space-between);
        flex-direction: column-reverse;

        @media screen and (min-width: 768px) {
            @include grid ($jc: space-between);
        }
    }
}
.header-bottom {
    &__image {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
