.header-cap {
    &__container {
        @include grid ($jc: space-between);
        flex-direction: column-reverse;

        @media screen and (min-width: 768px) {
            @include grid ($jc: space-between);
        }
    }
}
.header-mane {
    &__image {
        display: none;
        @media screen and (min-width: 1300px) {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @media screen and (min-width: 1300px) {
            justify-content: space-between;
        }
    }
}

