.menu {
    &__item {
        position: relative;
        margin-bottom: 10px;
        @media screen and (min-width: 992px) {
            margin: 0;
        }
    }
}
.submenu {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    display: none;
    &.submenu--home {
        display: none;
        position: unset;
        margin-top: -30px;
        @media screen and (min-width: 1300px) {
            display: block;
        }
    }
    &.js-active {
        display: block;
    }
    &__item {}
    &__link {
        position: relative;
        display: block;
        padding: 19px 35px;
        box-shadow: 0 0 1px 0px #0000001a;
        &:after {
            content: url("/images/service-img/arrow-right.png");
            position: absolute;
            top: 39%;
            right: 10%;
        }
    }
}
