.nav-header {
    color: $linc-nav;
    @include grid ($jc: space-between);
    flex-direction: column;

    @media screen and (min-width: 768px) {
        @include grid ($jc: space-between);
    }
    &__item {}
    &__link {
        position: relative;
        color: inherit;
        display: inline-block;
        line-height: 50px;
    }
    &__link:hover,&__link:target {
        color: $white;
        &:before {
            content: '';
            position: absolute;
            top: 96%;
            left: -8px;
            width: 122%;
            height: 2px;
            background: $yellow;
        }
    }
}
