.option-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        color: #abafb5;
        font-weight: 700;
        font-size: 18px;
    }
    &__img {
        display: inline-block;
        width: 50px;
        height: 50px;
        &.img--car {
            background: url("/images/service-img/sprite/img-1a.png")right center no-repeat;
        }
        &.img--track {
            background: url("/images/service-img/sprite/img-2a.png")right center no-repeat;
        }
        &.img--tyre {
            background: url("/images/service-img/sprite/img-3a.png")right center no-repeat;
        }
        &.img--flask {
            background: url("/images/service-img/sprite/img-4a.png")right center no-repeat;
        }
        &.img--battery {
            background: url("/images/service-img/sprite/img-5a.png")right center no-repeat;
        }
    }
    &__text {}
    &__link:hover {
        &:before {
            content: '';
            position: absolute;
            top: 98%;
            left: 10px;
            width: 107%;
            height: 2px;
            background: $yellow;
        }
        .option-menu__text {
            color: $white;
        }
        .img--car {
            background: url("/images/service-img/sprite/img-1b.png")right center no-repeat;
        }
        .img--track {
            background: url("/images/service-img/sprite/img-2b.png")right center no-repeat;
        }
        .img--tyre {
            background: url("/images/service-img/sprite/img-3b.png")right center no-repeat;
        }
        .img--flask {
            background: url("/images/service-img/sprite/img-4b.png")right center no-repeat;
        }
        .img--battery {
            background: url("/images/service-img/sprite/img-5b.png")right center no-repeat;
        }
    }
}
