.select-style {
    position: relative;
    height: 41px;
    border-bottom: 1px solid $white;
    overflow: hidden;
    cursor: pointer;
    &:before {
        content: url("/images/service-img/arrow-bottom.png");
        position: absolute;
        top:23%;
        left: 86%;
    }
   /* &:after {
        content: '';
        position: absolute;
        top: 16px;
        right: 4px;
        height: 10px;
        width: 10px;
        background: $white;
    }*/
    &:hover {
        border-color: $orange;
    }
    .option-select {
        cursor: pointer;
        width: 220px;
        height: 40px;
        border: none;
        background: $white;
        padding: 0 35px 0 10px;

    }
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select::-ms-expand {  /* для IE */
    display: none;
}
