.rating {
    display: flex;
    align-items: center;
    &__star {
        width: 95px;
        height: 18px;
        background-image: url("/images/sprites/stars.png");
        background-position: 99%;
        margin-right: 10px;
        &.rating--1 { background-position: 79%; }
        &.rating--2 { background-position: 60%; }
        &.rating--3 { background-position: 40%; }
        &.rating--4 { background-position: 21%; }
        &.rating--5 { background-position: 1%; }
    }
    &__comment { text-decoration: underline; }
}

