.tabs {
    &__triggers {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-bottom: 1px solid $border-tabs;
        @media screen and (min-width: 1024px){
            display: inline-flex;
        }
        .tab-trigger {
            padding: 10px 5px;
            @media screen and (min-width: 1024px) {
                padding: 15px 25px;
            }
            &.is-active {
                color: $text-color;
                border-bottom: 1.5px solid $yellow;
            }
            &:hover {
                color: $text-color;
                border-bottom: 1.5px solid $yellow;
                cursor: pointer;
            }
        }
    }
    .tab-content {
        display: none;
        &.is-active {display: block}
    }
}
.tab-desc {
    width: 100%;
    @media screen and (min-width: 1024px){
        width: 84%;
    }
    &__text {
        line-height: 25px;
    }
    &__row {
        overflow: hidden;
    }
    &__image {
        width: 200px;
        height: 150px;
        float: left;
        @media screen and (min-width: 1024px) {
            width: 555px;
            height: 347px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//----------Tab Предложение-------------------------------------
.tab-props {
    border-collapse: collapse;
    width: 100%;
    th,td {
        padding: 10px;
        text-align: center;
        &:first-child {
            text-align: left;
        }
        @media screen and (min-width: 1200px) { padding: 10px 20px; }
        @media screen and (min-width: 1300px) { padding: 10px 30px; }
    }
    &__link { line-height: 1.5; }
    &__price {
        padding: 14px 24px;
        margin-right: 5px
    }

}
